@model ConfirmMailViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kprn Student | Account Confirmation</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Admin/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Admin/dist/css/adminlte.min.css">
</head>
<body class="hold-transition lockscreen">
    <!-- Automatic element centering -->
    <div class="lockscreen-wrapper">
        <div class="lockscreen-logo">
            <a href="#"><b>Kprn | Student</b></a>
        </div>
        <!-- User name -->
        <div class="lockscreen-name">@ViewBag.v</div>

        <!-- START LOCK SCREEN ITEM -->
        <div class="lockscreen-item">
            <!-- lockscreen image -->
            <div class="lockscreen-image">
                <img src="~/Admin/dist/img/user1-128x128.jpg" alt="User Image">
            </div>
            <!-- /.lockscreen-image -->
            <!-- lockscreen credentials (contains the form) -->
            <form class="lockscreen-credentials" method="post">
                <div class="input-group">
                    <input type="hidden" class="form-control" asp-for="Mail" value="@ViewBag.v" />
                    <input type="text" class="form-control" asp-for="ConfirmCode" placeholder="Onay Kodu" />
                    <div class="input-group-append">
                        <button class="btn btn-primary">
                            <i class="fas fa-arrow-right text-muted"></i>
                        </button>
                    </div>
                </div>
            </form>
            <!-- /.lockscreen credentials -->

        </div>
        <!-- /.lockscreen-item -->
        <div class="help-block text-center">
            Mailinize gelen onay kodunu girdikten sonra Giriş ekranına aktarılıcaksınız.
        </div>
        <div class="text-center">
            <a href="/Login/Index">Başka bir kullanıcı olarak giriş yapın.</a>
        </div>
        <div class="lockscreen-footer text-center">
            Copyright &copy; 2022 - @DateTime.Now.Year <b>Kprn | Student</a></b><br>
            Tüm Hakları Saklıdır
        </div>
    </div>
    <!-- /.center -->
    <!-- jQuery -->
    <script src="~/Admin/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>